.signup_button {
    background: var(--linear-color) !important;
    width: 65%;
    height: 50px;
    border-radius: 15px !important;
}

.signup_link {
    color: #4defe5;
    text-decoration: none;
}
